@charset "UTF-8";

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* The entire table that contains two columns */
.video_table {
	table-layout: fixed;
	margin: 0px;
}

/* Each column of the whole table */
.video_table_col {
	margin-left: 20px;
	margin-right: 20px;
}

/* The panel for mhw videos */
.mhw_video_panel {
	background: rgba(15, 15, 15, 0.85);
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;
}

/* The panel for mhwi videos */
.mhwi_video_panel{
	background: rgba(235, 235, 235, 0.25);
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;   
}

.mhw_video_single {
	margin-top: 50px;
	border-top: 2px solid green;
}

.mhw_video_single img{
	width: 50px;
	float: left;
}

.mhw_video_single h2{
	line-height: 50px; 
	margin-top: 0px;
	margin-bottom: 0px;
	color: #4CAF50;
	text-align: center;
	vertical-align: middle;
	border-bottom: 2px solid green;
}

.mhwi_video_single {
	margin-top: 50px;
	border-top: 2px solid white;
}

.mhwi_video_single img {
	width: 50px;
	float: left;
}

.mhwi_video_single h2{
	line-height: 50px; 
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	border-bottom: 2px solid #ffffff;
}





