@charset "UTF-8";

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a.back_button{
	float:right;
}

.main_panel {
	background-color: rgba(15, 15, 15, 0.7);
	margin-left: 30px;
	margin-right: 30px;
}

.armorset_info_panel{
	vertical-align: top;
	display:inline-block;
	margin-right:10px;
	padding: 40px;
	width: 300px;
}

.armorset_info_table {
	padding: 0px;
	border-collapse: collapse; 
}

.armorset_info_table h2{
	color: #f2f2f2;
}

.armorset_info_table td{
	border-top: 2px solid #707070;
}

.armorset_info_table{
	border: 2px solid #2c962f;
	overflow: hidden;
}

.left_col {
	border-right: 2px solid #707070;
}

.odd_row{
	background: rgba(50, 50, 50, 0.8);
	height: 40px;
	color: #d3d3d3;
}

.even_row{
	height: 40px;
	color: #d3d3d3;
}

.res_col{
	border-right: 2px solid #707070;
}

.info_header{
	margin-bottom: 10px;
}

.info_header img{
	display: inline-block;
	vertical-align: middle;
}

.info_header p{
	display: inline-block;
	vertical-align: middle;
	color: #d3d3d3;
}

.detailed_info_panel{
	vertical-align: top;
	padding: 40px;
	padding-top: 10px;
	display:inline-block;
	width: 1000px;
}

.armor_piece_table{
	color: #d3d3d3;
}

.piece_row{
	height: 45px;
	color: #d3d3d3;
	background: rgba(50, 50, 50, 0.8);
	text-align: center;
}

.armor_piece_table{
	vertical-align: top;
	border: 2px solid #2c962f;
}





